<footer class="footer">
    <small>
        <a href= <%= root_path %>>Pick It Now</a>
    </small>
    <nav>
        <ul>
            <li><a class="page-scroll" href="#about">About</a></li>
            <li><a class="page-scroll" href="#contact">Contact Us</a></li>
        </ul>
    </nav>
</footer>